﻿@model Mnemos.ViewModels.LoginModel
@{
    ViewData["Title"] = "Sign in";
}

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Login">Login</label><br/>
            <input type="text" asp-for="Login"/>
            <span asp-validation-for="Login"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label><br/>
            <input asp-for="Password"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-dark">
                <i class="bi bi-box-arrow-in-left"></i> Sign in
            </button>
            <a class="btn btn-outline-dark" asp-action="Register" asp-controller="Account">
                <i class="bi bi-person-plus"></i> Register
            </a>
        </div>
    </div>
</form>