﻿@model Mnemos.ViewModels.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Login">Login</label><br/>
            <input type="text" asp-for="Login"/>
            <span asp-validation-for="Login"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label><br/>
            <input type="text" asp-for="Email"/>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label><br/>
            <input asp-for="Password"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Confirm Password</label><br/>
            <input asp-for="ConfirmPassword"/>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-dark">
                <i class="bi bi-person-plus"></i> Register
            </button>
        </div>
    </div>
</form>