﻿@model Mnemos.Models.Repeat

@{
    ViewData["Title"] = "Answer";
}

<h4>How difficult it was to give an answer?</h4>
<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">Question</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Question.Text)</dd>
        <dt class="col-sm-2">Answer</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Question.Answer)</dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-danger" asp-action="SaveAndRepeat" asp-route-repeatId="@Model.Id" asp-route-difficulty="Hard">
        <i class="bi bi-exclamation-circle"></i> Hard
    </a>
    <a class="btn btn-outline-warning" asp-action="SaveAndRepeat" asp-route-repeatId="@Model.Id" asp-route-difficulty="Good">
        <i class="bi bi-check-circle"></i> Good
    </a>
    <a class="btn btn-outline-success" asp-action="SaveAndRepeat" asp-route-repeatId="@Model.Id" asp-route-difficulty="Easy">
        <i class="bi bi-lightbulb"></i> Easy
    </a>
</div>