﻿@model IEnumerable<Mnemos.ViewModels.RepeatThemeModel>

@{
    ViewData["Title"] = "Repetition";
}

<h4>Choose a theme and repeat questions</h4>
<br/>
<table class="table">
    <thead>
    <tr>
        <th>
            Theme
        </th>
        <th>
            Total questions
        </th>
        <th>
            Questions to repeat now
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Theme.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQuestions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepeatQuestions)
            </td>
            <td>
                <a class="btn btn-outline-dark" asp-action="Repeat" asp-route-id="@item.Theme.Id">
                    <i class="bi bi-arrow-repeat"></i> Repeat
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>