﻿@model Mnemos.Models.Repeat

@{
    ViewData["Title"] = "Repeat";
}

<h4>Do you remember the answer?</h4>
<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">Question</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Question.Text)</dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-dark" asp-action="Difficulty" asp-route-repeatId="@Model.Id">
        <i class="bi bi-eye"></i> Show answer
    </a>
</div>