﻿@model Mnemos.ViewModels.StatisticViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Welcome to Mnemos, @User.Identity?.Name!</h3>
</div>
<hr/>
<h4>Your statistics</h4>
<br/>
<div>
    <dl class="row">
        <dt class="col-sm-4">
            Total number of themes:
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.TotalNumberTheme)
        </dd>
        <dt class="col-sm-4">
            Total number of questions:
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.TotalNumberQuestion)
        </dd>
        <dt class="col-sm-4">
            Total number of questions to repeat:
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.TotalNumberQuestionToRepeat)
        </dd>
        <dt class="col-sm-4">
            Theme with the most questions:
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.MaxQuestionTheme)
        </dd>
        <dt class="col-sm-4">
            Theme with the most questions to repeat:
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.MaxQuestionToRepeatTheme)
        </dd>
        <dt class="col-sm-4">
            Most repeated question:
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.MostRepeatedQuestion)
        </dd>
    </dl>
</div>