﻿@model Mnemos.Models.Theme

@{
    ViewData["Title"] = "Delete";
}

<h4>Are you sure you want to delete this theme?</h4>
<hr/>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <button type="submit" class="btn btn-outline-dark">
            <i class="bi bi-x-circle"></i> Delete
        </button>
        <a class="btn btn-outline-dark" asp-action="Index">
            <i class="bi bi-backspace"></i> Back
        </a>
    </form>
</div>