﻿@model Mnemos.ViewModels.ThemeModel
@{
    ViewData["Title"] = "Edit theme";
}

<h4>Edit your theme</h4>
<hr/>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-dark">
                    <i class="bi bi-save"></i> Save
                </button>
                <a class="btn btn-outline-dark" asp-action="Index">
                    <i class="bi bi-backspace"></i> Back
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}