﻿@model IEnumerable<Mnemos.Models.Theme>

@{
    ViewData["Title"] = "Themes";
}

<h4>Your themes</h4>
<br/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="bi bi-check-circle"></i> Edit
                </a>
                <a class="btn btn-outline-dark" asp-controller="Questions" asp-action="IndexByTheme" asp-route-id="@item.Id">
                    <i class="bi bi-question-circle"></i> Questions
                </a>
                <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="bi bi-x-circle"></i> Delete
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
<a class="btn btn-outline-dark" asp-action="Create">
    <i class="bi bi-plus-circle"></i> Create New
</a>