﻿@model Mnemos.Models.Question

@{
    ViewData["Title"] = "Details";
}

<h4>Details question</h4>
<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">Question</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InsertDate)
        </dt>
        <dd class="col-sm-10">
            @Convert.ToDateTime(Model.InsertDate).ToString("dd.MM.yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Theme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Theme.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@Model.Id">
        <i class="bi bi-check-circle"></i> Edit
    </a>
    <a class="btn btn-outline-dark" asp-action="IndexByTheme" asp-route-id="@Model?.ThemeId">
        <i class="bi bi-backspace"></i> Back
    </a>
</div>