﻿@model Mnemos.ViewModels.QuestionModal;

@{
    ViewData["Title"] = "Edit question";
}

<h4>Edit your question</h4>
<hr/>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ThemeId" class="control-label">Theme</label>
                <select asp-for="ThemeId" class="form-control" asp-items="ViewBag.ThemeId"></select>
                <span asp-validation-for="ThemeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label">Question</label>
                <input asp-for="Text" class="form-control"/>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control"/>
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-dark">
                    <i class="bi bi-save"></i> Save
                </button>
                <a class="btn btn-outline-dark" asp-action="IndexByTheme" asp-route-id="@Model?.ThemeId">
                    <i class="bi bi-backspace"></i> Back
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}