﻿@model IEnumerable<Mnemos.Models.Question>

@{
    ViewData["Title"] = "Questions";
}

<h4>Your questions</h4>
<br/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Theme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertDate)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Theme.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Convert.ToDateTime(item.InsertDate).ToString("dd.MM.yyyy")
            </td>
            <td>
                <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="bi bi-check-circle"></i> Edit
                </a>
                <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id">
                    <i class="bi bi-card-list"></i> Details
                </a>
                <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="bi bi-x-circle"></i> Delete
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
<a class="btn btn-outline-dark" asp-action="Create">
    <i class="bi bi-plus-circle"></i> Create New
</a>